body {
    font-family: Inter-Regular;
    background-color: #1e272e;
    color: whitesmoke;
    overflow-x: hidden;
}
@font-face {
    font-family: Inter-Regular;
    src: url(assets/fonts/Inter-Regular.ttf);
}
@font-face {
    font-family: MontserratAlternates;
    src: url(assets/fonts/MontserratAlternates-Bold.ttf);
}
/* THIS IS THE HEADER SECTION BACKGROUND VIDEO START HERE */
.back_video_main {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.back_video_main video{
    min-width: 100%;
    min-height: 100%;
}
/* THE HEADER SECTION BACKGROUND VIDEO ENDS HERE */
/* THIS IS THE HEADER SECTION NAV OPACITY START HERE */
.opacity {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
/* THE HEADER SECTION NAV OPACITY ENDS HERE */
/* THIS IS THE HEADER SECTION NAVIGATION START HERE */
.nav_main {
    width: 100%;
    color: whitesmoke;
    position: fixed;
    top: 5px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}
/* THIS IS THE HEADER SECTION NAVIGATION ICON START HERE */
.nav_main1 {
    padding: 0px;
    width: 100%;
}
.nav_main1 img {
    width: 50px;
    height: 50px;
}
/* THE HEADER SECTION NAVIGATION ICON ENDS HERE */
/* THIS IS THE HEADER SECTION NAVIGATION NAV START HERE */
.nav_main2 {
    padding: 0px;
    width: 100%;
}
.nav_main2 nav {
    float: right;
    padding: 5px 0px;
}
.nav_main2 nav ul li a {
    border-radius: 10px;
    font-family: Inter-Regular;
    color: whitesmoke;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
    transition: 1s;
}
.nav_main2 nav ul li a:hover {
    background-color: #1E37C4;
}
.nav_main2 nav ul li:last-child a:hover {
    background-color: transparent;
}
.active small {
    background-color: rgb(22 55 238 );
    padding: 5px 8px;
    border-radius: 5px;
}
.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.5);
}
.dropdown-menu a {
    color: whitesmoke;
    margin-bottom: 5px;
}
.dropdown-menu a:last-child {
    margin-bottom: 0px;
}
.dropdown-menu:hover a {
    color: whitesmoke;
}
#mobile_menu {
    display: none;
}
/* THE HEADER SECTION NAVIGATION NAV ENDS HERE */
/* THIS IS THE HEADER SECTION NAVIGATION SLICKNAV START HERE */
.slicknav_menu {
    display: none;
    background-color: transparent;
    color: whitesmoke;
    text-transform: uppercase;
}
.slicknav_menu ul:first-child {
    background-color: rgba(0, 0, 0, 0.5);
}
.slicknav_nav .slicknav_row:hover {
    background-color: #1E37C4;
}
.slicknav_nav nav ul li:hover a {
    color: whitesmoke;
}
.slicknav_btn {
    background-color: transparent;
    font-size: 25px;
    margin: 0;
}
.early {
    border-radius: 6px;
    transition: 1s;
    width: 130px;
    margin-left: 5px;
}
.early:hover {
    background-color: #1E37C4;
}
/* THE HEADER SECTION NAVIGATION SLICKNAV ENDS HERE */
/* THIS IS THE HEADER SECTION MY SELF START HERE */
.back_video_main {
    position: relative;
}
.contant {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.my_self {
    color: whitesmoke;
    text-transform: capitalize;
    padding: 30px 0px;
}
.my_self h5 {
    color: rgb(22 55 238 );
    font-size: 18px;
    font-weight: 600;
}
.my_self h4 {
    font-size: 35px;
    font-weight: 600;
    padding: 10px 0px;
}
.my_self h6 {
    font-size: 25px;
    font-family: 600;
}
.my_self p {
    color: rgb(156 163 175);
    font-size: 16px;
    padding: 10px 0px;
    margin-bottom: 10px;
}
.my_self a {
    color: whitesmoke;
    background-color: rgb(22 55 238 );
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    transition: 1s;
}
.my_self .linkedin {
    margin-left: 10px;
}
.my_self a:hover {
    background-color: #1E37C4;
    color: whitesmoke;
}
/* THE HEADER SECTION MY SELF ENDS HERE */
/* THE HEADER SECTION NAVIGATION ENDS HERE */
/* THIS IS THE ABOUT SECTION START HERE */
#about {
    padding: 100px 10px;
}
/* THIS IS THE ABOUT SECTION IMAGE START HERE */
.about_one {
    width: 700px;
    height: 700px;
    border-radius: 50%;
    margin: auto;
    background-image: linear-gradient(25deg, red, blue);
    box-shadow:  -20px 20px 60px #bebebe, 20px -20px 60px #ffffff;
    position: relative;
}
.about2 {
    background-color: #1e272e;
    width: 670px;
    height: 670px;
    border-radius: 50%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
}
/* THE ABOUT SECTION IMAGE ENDS HERE */
/* THIS IS THE ABOUT SECTION ABOUT CONTANT START HERE */
.about_two {
    width: 100%;
    padding: 50px 0px;
}
.about_two h1 {
    font-size: 28px;
    font-weight: 600;
}
.about_two h1 span {
    color: rgb(22 55 238 );
}
.about_two p {
    font-size: 18px;
    color: rgb(203 213 225);
    padding: 30px 50px;
    line-height: 25px;
    text-align: justify;
}
.about_two p a {
    font-size: 18px;
    color: whitesmoke;
    line-height: 25px;
}
.about_two p span {
    color: rgb(22 55 238 );
    text-transform: lowercase;
    font-weight: 600;
    font-style: italic;
}
/* THE ABOUT SECTION ABOUT CONTANT ENDS HERE */
/* THIS IS THE ABOUT SECTION PROGRESBAR START HERE */
.about_porgres {
    display: flex;
}
.pogress_bar_1 {
    text-align: center;
    position: relative;
}
.pogress_bar_1 h4 {
    font-size: 30px;
    width: 100%;
    height: 40px;
    font-weight: 600;
    position: absolute;
    top: 0;
    bottom: 35px;
    margin: auto;
}
.pogress_bar_1 p {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
}
.pogress_bar_2 {
    margin: 0px 20px;
    text-align: center;
    position: relative;
}
.pogress_bar_2 h4 {
    font-size: 30px;
    width: 100%;
    height: 40px;
    font-weight: 600;
    position: absolute;
    top: 0;
    bottom: 35px;
    margin: auto;
}
.pogress_bar_2 p {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
}
.pogress_bar_3 {
    text-align: center;
    position: relative;
}
.pogress_bar_3 h4 {
    font-size: 30px;
    width: 100%;
    height: 40px;
    font-weight: 600;
    position: absolute;
    top: 0;
    bottom: 35px;
    margin: auto;
}
.pogress_bar_3 p {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
}
.one_porgres {
    display: none;
}
/* THE ABOUT SECTION PROGRESBAR ENDS HERE */
/* THE ABOUT SECTION START HERE */
/* THIS IS THE SERVICES SECTION START HERE */
#Services {
    padding: 0;
}
#Services h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: MontserratAlternates;
    font-size: 50px;
    font-weight: 700;
    color: whitesmoke;
}
#Services h3 {
    color: rgb(203 213 225);
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    padding: 10px 0px 20px 0px;
}
/* THIS IS THE SERVICES SECTION SERVICES START HERE */
.services_perent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 0px;
    grid-gap: 30px;
}
.services_back {
    width: 360px;
    height: 250px;
    margin-top: 10px;
    background-image: linear-gradient(20deg, red, blue);
    border-radius: 10px;
    box-shadow:  -5px 5px 15px #bebebe, 5px -5px 15px #ffffff;
    position: relative;
}
.Services_box {
    width: 345px;
    height: 235px;
    border-radius: 10px;
    background-color: rgb(203 213 225);
    color: #1e272e;
    text-align: center;
    transition: 3s;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.Services_box i {
    font-size: 50px;
    color: rgb(22 55 238 );
    padding: 15px;
    transition: 3s;
}
.Services_box h4 {
    font-family: MontserratAlternates-Bold;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
    padding: 0px 10px;
}
.Services_box p{
    font-size: 16px;
    line-height: 25px;
    text-transform: capitalize;
    margin-top: 10px;
    padding: 0px 10px;
}
.Services_box a {
    color: whitesmoke;
    background-color: rgb(22 55 238 );
    font-size: 10px;
    padding: 5px;
    text-transform: capitalize;
    transition: 2s;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.Services_box:hover {
    background-color: #111827;
    color: whitesmoke;
}
.Services_box:hover i {
    color: rgb(203 213 225);
    font-size: 50px;
}
.Services_box:hover a {
    background-color: #1E37C4;
    color: whitesmoke;
}
/* THE SERVICES SECTION SERVICES ENDS HERE */
/* THIS IS THE SERVICES SECTION BOTTON START HERE */
.Botton {
    text-align: center;
    margin: 50px 0px;
}
.Botton a {
    color: whitesmoke;
    background-color: rgb(22 55 238 );
    font-size: 20px;
    padding: 10px 0px;
    width: 300px;
    transition: 2s;
    border-radius: 10px;
    font-family: MontserratAlternates-Bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    box-shadow: 0px 0px 20px #ffffff;
}
.Botton a:hover {
    background-color: #1E37C4;
    color: whitesmoke;
    box-shadow:  -10px 10px 40px #bebebe, 10px -10px 40px #ffffff;
}
/* THE SERVICES SECTION BOTTON ENDS HERE */
/* THE SERVICES SECTION ENDS HERE */

/* THIS IS THE CLIENT'S LOVE SECTION START HERE */
.c_love {
    padding: 50px 0px;
}
/* THIS IS THE CLIENT'S LOVE SECTION HEDDING START HERE */
.c_love h1 {
    text-align: center;
    font-family: MontserratAlternates;
    font-weight: bold;
    text-transform: uppercase;
    color: whitesmoke;
    margin-bottom: 20px;
}
.c_love h1 span {
    font-size: 25px;
}
/* THE CLIENT'S LOVE SECTION HEDDING START HERE */
/* THIS IS THE CLIENT'S LOVE SECTION OWL-CAROUSEL START HERE */
.single-carousel-item {
    padding: 20px 0px;
    width: 100%;
    height: 250px;
    margin-top: 50px;
    margin: auto;
    position: relative;
}
.owl-prev {
    position: absolute;
    top: 35%;
    left: 30px;
    font-size: 50px !important;
    color: whitesmoke !important;
}
.owl-next {
    position: absolute;
    top: 35%;
    right: 30px;
    font-size: 50px !important;
    color: whitesmoke !important;
}
.owl-dots {
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translate(-50%, 50%);
}
.owl-dots .owl-dot{
    background-color: whitesmoke !important;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 10px;
}
.owl-dots .active {
    background-color: rgb(22 55 238 ) !important;
}
.client_1 {
    text-align: center;
    color: rgb(156 163 175);
    position: relative;
}
.client_1 p{
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
}
.client_1 h2 {
    text-transform: uppercase;
    font-family: MontserratAlternates;
    color: #FF4500;
    padding: 20px 0px;
}
.client_1 h2 sup {
    font-size: 15px;
}
.client_1 h5 {
    text-transform: capitalize;
    color: orange;
    font-weight: 600;
    text-align: center;
}
.client_1 h5 .uk_1 {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 200px;
    left: 0;
    bottom: 0;
    margin: auto;
}
.client_1 h5 .uk_2 {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    left: 200px;
    bottom: 0;
    margin: auto;
}
/* THE CLIENT'S LOVE SECTION CAROUSEL START HERE */
/* THE CLIENT'S LOVE SECTION START HERE */
/* THIS IS THE SKILL RATING SECTION START HERE */
#skill_rating {
    padding: 50px 0px;
}
/* THIS IS THE SKILL RATING SECTION HEDDING START HERE */
.skill_hedding {
    font-family: MontserratAlternates;
    color: whitesmoke;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 100px;
}
/* THE SKILL RATING SECTION HEDDING ENDS HERE */
/* THIS IS THE SKILL RATING PICTURE SECTION START HERE */
.skill_rating_img_one{
    background-image: linear-gradient(20deg, red, blue);
    box-shadow:  -20px 20px 60px #bebebe, 20px -20px 60px #ffffff;
    width: 450px;
    height: 450px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    margin: 10px auto;
    position: relative;
}
.skill_rating_img_two {
    background-color: #111827;
    width: 430px;
    height: 430px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
}
/* THE SKILL RATING PICTURE SECTION ENDS HERE */
/* THIS IS THE SKILL RATING BAR SECTION START HERE */
.skill_rating {
    padding: 50px;
}
.skill_rating p {
    color: whitesmoke;
    text-transform: uppercase;
    font-weight: 600;
}
.pogress_bar_4 {
    width: 100%;
    height: 20px;
}
.pogress_bar_5 {
    width: 100%;
    height: 20px;
}
.pogress_bar_6 {
    width: 100%;
    height: 20px;
}
.pogress_bar_7 {
    width: 100%;
    height: 20px;
}
.pogress_bar_8 {
    width: 100%;
    height: 20px;
}
.pogress_bar_9 {
    width: 100%;
    height: 20px;
}
.pogress_bar_10 {
    width: 100%;
    height: 20px;
}
/* THE SKILL RATING BAR SECTION ENDS HERE */
/* THE SKILL RATING SECTION ENDS HERE */
/* THIS IS THE BIOGRAPHY SECTION START HERE */
#biography {
    padding: 50px 0px;
}
/* THIS IS THE BIOGRAPHY BIO SECTION START HERE */
.bio h1 {
    text-transform: capitalize;
    font-weight: 600;
    padding: 20px 0px;
    color: whitesmoke;
}
.bio p {
    padding: 0px 20px;
    text-align: justify;
    color: rgb(156 163 175);
    font-size: 18px;
}
.bio p span {
    color: whitesmoke;
}
.bio h3 {
    font-style: italic;
    font-weight: 500;
    font-size: 20px;   
    padding: 10px 0px;
    color: whitesmoke;
}
.bio h2 {
    font-size: 20px;
    text-transform: capitalize;
    padding-bottom: 40px;
}
.bio h2 a span {
    color: #FF4500;
    font-weight: bold;
    text-transform: uppercase;
}
/* THE BIOGRAPHY BIO SECTION ENDS HERE */
/* THIS IS THE BIOGRAPHY SECTION PICTURE START HERE */
.bio_box_2 {
    width: 360px;
    height: 400px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    background-image: linear-gradient(20deg, red, blue);
    box-shadow:  -20px 20px 60px #bebebe, 20px -20px 60px #ffffff;
    position: relative;
    margin: auto;
}
.bio_img_box {
    background-color: #111827;
    width: 340px;
    height: 380px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
/* THE BIOGRAPHY PICTURE SECTION START HERE */
/* THE BIOGRAPHY SECTION ENDS HERE */
























/* THIS IS THE SOCIL MEDIA SHARE SECTION START HERE */
.share-bar {
    position: fixed;
    top: 35%;
    right: 0;
}
.share-bar ul li {
    background-color: transparent;
    color: whitesmoke;
    border: 1px solid rgb(22 55 238 );
    transition: 1s;
    position: relative;
    width: 30px;
    height: 30px;
}
.share-bar ul li i {
    font-size: 15px;
    position: absolute;
    top: 8px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.share-bar ul li:hover {
    background-color: #1E37C4 !important;
}
/* THE SOCIL MEDIA SHARE SECTION ENDS HERE */
