body{
    background-color: #030712;
    position: relative;
}
@font-face{
    src: url(assets/fonts/MontserratAlternates-Bold.ttf);
    font-family: MontserratAlternates-Bold;
}
@font-face{
    src: url(assets/fonts/Kalnia-Regular.ttf);
    font-family: Kalnia-Regular;
}
@font-face{
    src: url(assets/fonts/Kalnia-VariableFont_wdth\,wght.ttf);
    font-family: Kalnia-VariableFont_wdth\,wght;
}
@font-face{
    src: url(assets/fonts/PlayfairDisplay-Regular.ttf);
    font-family: PlayfairDisplay-Regular;
}
/* This is the Header Section Start Here */
/* This is the Header Section Back-Video Start Here */
.back_video {
    width: 100%;
    height: 100vh;
    position: relative;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.video video {
    width: 100%;
    height: 100%;
}
/* This is the Header Section Back-Video End Here */
/* This is the Header Navbar Section Start Here */
header {
    position: relative;
}
.Main_Nav {
    background-color: #111827;
    opacity: 0.5;
    box-shadow: 0px 0px 5px 0px azure;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.Main_nav_one {
    width: 100%;
    padding: 10px !important;
}
/* This is the Header Navbar Logo Section Start Here */
.logo {
    width: 100%;
}
.logo img {
    width: 100%;
    height: 100%;
}
/* This is the Header Navbar Logo Section End Here */
/* This is the Header Navbar Nav Section Start Here */
.nav nav ul li {
    display: inline-block;
    padding: 10px 14px;
    border-radius: 20px;
    transition: 1s;
}
.nav nav ul li:last-child {
    font-size: 10px;
    background-color: orangered;
    padding: 5px 10px;
}
.nav nav ul li:hover {
    background-color: orangered;
    border-radius: 20px;
}
.nav nav ul li a {
    color: azure;
    text-transform: uppercase;
    font-family: MontserratAlternates-Bold;
}
.disabled {
    padding: 0px !important;
}
/* This is the Header Navbar Slicknav Section Start Here */
.slicknav_menu {
    display: none;
    width: 20%;
    float: right;
    text-transform: uppercase;
    color: azure;
    font-family: MontserratAlternates-Bold;
    background-color: transparent;
    margin-top: -40px;
}
.slicknav_nav li a:hover{
    background-color: orangered;
    border-radius: 5px;
    transition: 1s;
    color: azure;
}
.slicknav_nav li:last-child{
    font-size: 12px;
    background-color: orangered;
    border-radius: 15px;
    font-style: italic;
}
.slicknav_btn {
    background-color: transparent !important;
}
/* This is the Header Navbar Slicknav Section End Here */
/* This is the Header Navbar Nav Section End Here */
/* This is the Header Navbar Section End Here */
/* This is the Header Contain Section Start Here */
.main_contain {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: azure;
}
.main_contain_one h5 {
    font-family: PlayfairDisplay-Regular;
    text-transform: capitalize;
    color: orangered;
    font-weight: bold;
}
.main_contain_one h1 {
    font-family: PlayfairDisplay-Regular;
    text-transform: capitalize;
}
.main_contain_one h4 {
    font-family: PlayfairDisplay-Regular;
    text-transform: capitalize;
}
.main_contain_one p {
    font-family: PlayfairDisplay-Regular;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.main_contain_one a {
    font-family: MontserratAlternates-Bold;
    color: azure;
    text-transform: uppercase;
    background-color: orangered;
    padding: 10px 25px;
    border-radius: 15px;
    transition: 2s;
}
.main_contain_one a:hover {
    background-color: rgb(172, 50, 6);
}
.main_contain_one a:last-child {
    margin-left: 10px;
    padding: 10px 15px;
}
.main_contain_one a i {
    margin-right: 5px;
    font-size: 20px;
    color: rgb(172, 50, 6);
    transition: 2s;
}
.main_contain_one a:hover i {
    color: azure;
}
/* This is the Header Contain Section End Here */
/* This is the Header Section End Here */
/* This is the Who is Shahadat Section Start Here */
.who_is_shahadat {
    margin-top: 150px;
}
/* This is the Who is Shahadat Picture Section Start Here */
.who-is-shahadat-pic {
    width: 560px;
    height: 560px;
    position: relative;
}
.who-is-shahadat {
    box-shadow: 0px 0px 50px 5px blue;
    background-image: linear-gradient(20deg,red,blue);
    width: 490px;
    height: 490px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.who-is-shahadat-pic {
    position: relative;
}
.who-is {
    background-color: #111827;
    width: 475px;
    height: 475px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.who-is img {
    width: 100%;
    height: 100%;
}
/* This is the Who is Shahadat Picture Section End Here */
/* This is the Who is Shahadat Contain Section Start Here */
.who-is-shahadat-contain {
    width: 560px;
    height: 560px;
    position: relative;
}
.who-is-shahadat-contain-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 80%;
    height: 95%;
    color: azure;
}
.who-is-shahadat-contain h1 {
    font-family: Kalnia-Regular;
}
.who-is-shahadat-contain h1 span {
    color: orangered;
}
.who-is-shahadat-contain p {
    font-family: Kalnia-Regular;
    letter-spacing: 1px;
    font-size: 20px;
    text-transform: capitalize;
}
/* This is the Who is Shahadat Contain Section End Here */
/* This is the Who is Shahadat Section End Here */
/* background-image: linear-gradient(20deg,red,blue); */