/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /* THIS IS THE HEADER SECTION NAVIGATION NAV START HERE */
    .nav_main_nav {
        display: none;
    }
    /* THE HEADER SECTION NAVIGATION NAV ENDS HERE */
    /* THIS IS THE HEADER SECTION NAVIGATION SLICKNAV START HERE */
    .slicknav_menu {
        display: block;
    }
    /* THE HEADER SECTION NAVIGATION SLICKNAV ENDS HERE */
    /* THIS IS THE HEADER SECTION MY SELF START HERE */
    .my_self {
        padding: 30px 20px;
    }
    .my_self h4 {
        font-size: 20px;
    }
    .my_self h6 {
        font-size: 15px;
    }
    .my_self p {
        color: rgb(156 163 175);
        font-size: 12px;
    }
    /* THE HEADER SECTION MY SELF ENDS HERE */
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    /* THIS IS THE HEADER SECTION NAVIGATION NAV START HERE */
    .nav_main_nav {
        display: none;
    }
    /* THE HEADER SECTION NAVIGATION NAV ENDS HERE */
    /* THIS IS THE HEADER SECTION NAVIGATION SLICKNAV START HERE */
    .slicknav_menu {
        display: block;
    }
    /* THE HEADER SECTION NAVIGATION SLICKNAV ENDS HERE */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    /* THIS IS THE HEADER SECTION NAVIGATION NAV START HERE */
    .nav_main_nav {
        display: none;
    }
    /* THE HEADER SECTION NAVIGATION NAV ENDS HERE */
    /* THIS IS THE HEADER SECTION NAVIGATION SLICKNAV START HERE */
    .slicknav_menu {
        display: block;
    }
    /* THE HEADER SECTION NAVIGATION SLICKNAV ENDS HERE */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }